<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-8 col-lg-6 footer-about">
            <h3>Sobre</h3>
            <img class="logo-footer" src="/static/img/bot-logo.png" alt="logo-footer" data-at2x="assets/img/logo.png">
            <p>
              Bot não oficial para consulta de informações da plataforma Sucupira. Coletamos apenas os dados das conversas realizadas, os quais 
              serão utilizados apenas com propósito acadêmico e jamais serão usados como forma identificar ou expor os usuários deste
              sistema. Você pode encontrar o código fonte desta página no Github.
            </p>
            <p><a href="https://github.com/IQABots/SucupiraBot" target="_blank"><i class="fab fa-github"></i> SucupiraBot</a></p>
          </div>
          <div class="col-4 offset-lg-1 footer-contact" id="contato">
            <h3>Contato</h3>
                <p>Você pode nos contatar através do email ou Telegram.</p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:ivan@telemidia.puc-rio.br">ivan@telemidia.puc-rio.br</a></p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:jessicasousa.pc@gmail.com">jessicasousa.pc@gmail.com</a></p>
                <p><i class="fab fa-telegram-plane"></i> Telegram: <a href="http://t.me/ContatoSucupiraBot" target="_blank">@ContatoSucupiraBot</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; SucupiraBot 2020</p>
    </div>
</footer>